.side-bar
  .side-bar__user-name
    .side-bar__user-name__box
      %h3.side-bar__user-name__box__top-items
        = current_user.name
    %ul.side-bar__user-name__top-items__icons 
      %li.side-bar__user-name__top-items__icons__edt 
        = link_to new_group_path do
          = icon('far', 'edit') 
      %li.side-bar__user-name__top-items__icons__cog
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')  
      %li.side-bar__user-name__top-items__icons__ggg
        =link_to "https://www.google.com/" do
          = icon('fab', 'google')
      %li.side-bar__user-name__top-items__icons__eee
        = link_to "https://lets-emoji.com/emojilist/emojilist-1/" do
          = icon('fas', 'icons')
      %li.side-bar__user-name__top-items__icons__uuu
        = link_to calendar_index_path do
          = icon('fas', 'calendar')
  .side-bar__group-list 
    - current_user.groups.each do |group|
      .side-bar__group-list__group-box
        = link_to group_messages_path(group) do
          .side-bar__group-list__group-box__messege-box
            = group.name
          .side-bar__group-list__group-box__mess
            = group.show_last_message